.header {
  text-align: center;
  background-color: var(--primary-color);
  box-shadow: 0 0 20px var(--dark-mine-shaft);
  position: relative;
  z-index: 2;
  user-select: none;
  height: 130px;
  margin: 0;
}

.title {
  font-family: 'Rubik-Black';
  font-size: 60px;
  margin: 0;
  line-height: 100%;
  padding-top: 35px;
}
