.card {
  width: 240px;
  margin: 0 20px;
}

.avatar {
  width: 200px;
  height: 200px;
  object-fit: contain;
  background-color: var(--tertiary-color);
  padding: 20px;
  border-radius: 8px;
}

.avatar:hover {
  background-color: var(--quaternary-color);
  cursor: pointer;
}

.name {
  font-family: 'Rubik-Bold';
  font-size: 1.2rem;
  margin-top: 10px;
}

.name:hover {
  cursor: pointer;
  color: var(--quaternary-color);
}

@media screen and (max-width: 320px) {
  .avatar {
    width: 130px;
  }
}
