.container {
  padding-bottom: 40px;
  box-shadow: 0 0 10px var(--dark-mine-shaft);
  position: relative;
  z-index: 1;
}

.gallery {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.chevron {
  cursor: pointer;
  position: relative;
  top: 90px;
  color: #fff;
}

.chevron:hover {
  color: var(--quaternary-color);
}

.carousel {
  width: 850px;
  margin-bottom: 40px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.dotsContainer {
  display: flex;
  justify-content: center;
}

.dotsWrapper {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.dot:hover {
  background-color: var(--tertiary-color);
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.dotActive {
  composes: dot;
  background-color: var(--tertiary-color);
}

@media screen and (max-width: 700px) {
  .dotsWrapper {
    width: 25%;
  }
}

@media screen and (max-width: 500px) {
  .dotsWrapper {
    width: 35%;
  }
}

@media screen and (max-width: 375px) {
  .dotsWrapper {
    width: 45%;
  }
}
