.header {
  background-color: var(--primary-color);
  height: 200px;
  text-align: center;
  box-shadow: 0 0 20px black;
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.title {
  margin: 0;
  padding-top: 55px;
  font-family: 'Rubik-Bold';
}
